// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn {
  width: 30px;
  height: 30px;
}

.button {
  border-radius: 5px;
}
